
body{
	overflow: hidden;
}

#gl{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: #000;
	
	z-index: -100;

	pointer-events: none;
}

nav{
	display: grid;
	grid-template-areas: 
	"l . . m . . w"
	". . . . . . ."
	". . . . . . ."
	". . . . . . ."
	"t . . . . a c";
	
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(7, 1fr);
	
	width: 100vw;
	height: 100vh;
	
	position: absolute;
	top: 0px;
	left: 0px;
	
	align-items: center;
	justify-items: center;	
}

nav > a{
	position: relative;
	
	color: white;
	
	font-size: 1em;

	font-family: "Courier New", monospace;
}

#nav-menu{
	grid-area: m;
}

#nav-about{
	grid-area: a;
}

#nav-contacts{
	grid-area: c;
}

#nav-works{
	grid-area: w;
}

.logo{
	width: 100%;
	height: 100%;
	grid-area: l;
}

.logo > span{
	color: white;
	
	position: absolute;
	
	top: 50%;
	left: 50%;
}

.logo > .char1{
	transform: translate(-50%, -50%) rotate(0deg) translateY(-150%);
}
.logo > .char2{
	transform: translate(-50%, -50%) rotate(45deg) translateY(-150%);
}
.logo > .char3{
	transform: translate(-50%, -50%) rotate(90deg) translateY(-150%);
}
.logo > .char4{
	transform: translate(-50%, -50%) rotate(135deg) translateY(-150%);
}
.logo > .char5{
	transform: translate(-50%, -50%) rotate(180deg) translateY(-150%);
}
.logo > .char6{
	transform: translate(-50%, -50%) rotate(225deg) translateY(-150%);
}
.logo > .char7{
	transform: translate(-50%, -50%) rotate(270deg) translateY(-150%);
}
.logo > .char8{
	transform: translate(-50%, -50%) rotate(315deg) translateY(-150%);
}

#cursor{
	width: 64px;
	height: 64px;
	
	transform: translate(-50%, -50%);
	
	background: #fff;
	
	mix-blend-mode: difference;
	
	position: fixed;
	top: 0px;
	left: 0px;
	
	border-radius: 50%;
	pointer-events: none;
}

@media screen and (orientation : portrait){
	nav{
		display: grid;
		grid-template-areas: 
		"l . m . w"
		". . . . ."
		". . . . ."
		"m . . . ."
		". . . . ."
		". . . . ."
		"a . . . c";
		
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(7, 1fr);
	}
}
