@font-face {
  font-family: "FiraCode";
  src: url(https://cdn.rawgit.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Regular.ttf);
}

.diagram{
  width: 100%;
  height: auto;
  max-width: 640px;
  background: #fff;
}

.prettyprint{
  font-family: "FiraCode", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}