body {
	background: #000;
  }
  
  .particle {
	width: 16px;
	height: 16px;
	background: #004d40;
	border-radius: 0%;
	animation: float-particle 2s cubic-bezier(0.3642, 0, 0.6358, 1) infinite alternate;
  }
  
  @keyframes float-particle {
	0% {
	  transform: translate(10vh, 10vh);
	  background: #004d40;
	}
	100% {
	  transform: translate(-10vh, -10vh);
	  background: #80cbc4;
	}
  }
  .wave-grid {
	display: grid;
	width: 50vmin;
	height: 50vmin;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scaleY(0.86602) rotate(30deg) skew(-30deg);
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
  }
  
  .particle:nth-child(1) {
	animation-delay: calc((0*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(2) {
	animation-delay: calc((0*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(3) {
	animation-delay: calc((0*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(4) {
	animation-delay: calc((0*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(5) {
	animation-delay: calc((0*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(6) {
	animation-delay: calc((0*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(7) {
	animation-delay: calc((0*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(8) {
	animation-delay: calc((0*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(9) {
	animation-delay: calc((0*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(10) {
	animation-delay: calc((0*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(11) {
	animation-delay: calc((0*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(12) {
	animation-delay: calc((0*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(13) {
	animation-delay: calc((0*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(14) {
	animation-delay: calc((0*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(15) {
	animation-delay: calc((0*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(16) {
	animation-delay: calc((0*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(17) {
	animation-delay: calc((0*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(18) {
	animation-delay: calc((0*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(19) {
	animation-delay: calc((0*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(20) {
	animation-delay: calc((0*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(21) {
	animation-delay: calc((1*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(22) {
	animation-delay: calc((1*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(23) {
	animation-delay: calc((1*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(24) {
	animation-delay: calc((1*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(25) {
	animation-delay: calc((1*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(26) {
	animation-delay: calc((1*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(27) {
	animation-delay: calc((1*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(28) {
	animation-delay: calc((1*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(29) {
	animation-delay: calc((1*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(30) {
	animation-delay: calc((1*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(31) {
	animation-delay: calc((1*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(32) {
	animation-delay: calc((1*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(33) {
	animation-delay: calc((1*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(34) {
	animation-delay: calc((1*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(35) {
	animation-delay: calc((1*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(36) {
	animation-delay: calc((1*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(37) {
	animation-delay: calc((1*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(38) {
	animation-delay: calc((1*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(39) {
	animation-delay: calc((1*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(40) {
	animation-delay: calc((1*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(41) {
	animation-delay: calc((2*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(42) {
	animation-delay: calc((2*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(43) {
	animation-delay: calc((2*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(44) {
	animation-delay: calc((2*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(45) {
	animation-delay: calc((2*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(46) {
	animation-delay: calc((2*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(47) {
	animation-delay: calc((2*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(48) {
	animation-delay: calc((2*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(49) {
	animation-delay: calc((2*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(50) {
	animation-delay: calc((2*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(51) {
	animation-delay: calc((2*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(52) {
	animation-delay: calc((2*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(53) {
	animation-delay: calc((2*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(54) {
	animation-delay: calc((2*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(55) {
	animation-delay: calc((2*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(56) {
	animation-delay: calc((2*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(57) {
	animation-delay: calc((2*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(58) {
	animation-delay: calc((2*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(59) {
	animation-delay: calc((2*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(60) {
	animation-delay: calc((2*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(61) {
	animation-delay: calc((3*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(62) {
	animation-delay: calc((3*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(63) {
	animation-delay: calc((3*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(64) {
	animation-delay: calc((3*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(65) {
	animation-delay: calc((3*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(66) {
	animation-delay: calc((3*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(67) {
	animation-delay: calc((3*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(68) {
	animation-delay: calc((3*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(69) {
	animation-delay: calc((3*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(70) {
	animation-delay: calc((3*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(71) {
	animation-delay: calc((3*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(72) {
	animation-delay: calc((3*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(73) {
	animation-delay: calc((3*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(74) {
	animation-delay: calc((3*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(75) {
	animation-delay: calc((3*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(76) {
	animation-delay: calc((3*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(77) {
	animation-delay: calc((3*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(78) {
	animation-delay: calc((3*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(79) {
	animation-delay: calc((3*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(80) {
	animation-delay: calc((3*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(81) {
	animation-delay: calc((4*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(82) {
	animation-delay: calc((4*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(83) {
	animation-delay: calc((4*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(84) {
	animation-delay: calc((4*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(85) {
	animation-delay: calc((4*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(86) {
	animation-delay: calc((4*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(87) {
	animation-delay: calc((4*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(88) {
	animation-delay: calc((4*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(89) {
	animation-delay: calc((4*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(90) {
	animation-delay: calc((4*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(91) {
	animation-delay: calc((4*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(92) {
	animation-delay: calc((4*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(93) {
	animation-delay: calc((4*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(94) {
	animation-delay: calc((4*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(95) {
	animation-delay: calc((4*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(96) {
	animation-delay: calc((4*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(97) {
	animation-delay: calc((4*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(98) {
	animation-delay: calc((4*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(99) {
	animation-delay: calc((4*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(100) {
	animation-delay: calc((4*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(101) {
	animation-delay: calc((5*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(102) {
	animation-delay: calc((5*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(103) {
	animation-delay: calc((5*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(104) {
	animation-delay: calc((5*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(105) {
	animation-delay: calc((5*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(106) {
	animation-delay: calc((5*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(107) {
	animation-delay: calc((5*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(108) {
	animation-delay: calc((5*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(109) {
	animation-delay: calc((5*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(110) {
	animation-delay: calc((5*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(111) {
	animation-delay: calc((5*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(112) {
	animation-delay: calc((5*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(113) {
	animation-delay: calc((5*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(114) {
	animation-delay: calc((5*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(115) {
	animation-delay: calc((5*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(116) {
	animation-delay: calc((5*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(117) {
	animation-delay: calc((5*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(118) {
	animation-delay: calc((5*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(119) {
	animation-delay: calc((5*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(120) {
	animation-delay: calc((5*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(121) {
	animation-delay: calc((6*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(122) {
	animation-delay: calc((6*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(123) {
	animation-delay: calc((6*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(124) {
	animation-delay: calc((6*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(125) {
	animation-delay: calc((6*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(126) {
	animation-delay: calc((6*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(127) {
	animation-delay: calc((6*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(128) {
	animation-delay: calc((6*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(129) {
	animation-delay: calc((6*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(130) {
	animation-delay: calc((6*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(131) {
	animation-delay: calc((6*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(132) {
	animation-delay: calc((6*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(133) {
	animation-delay: calc((6*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(134) {
	animation-delay: calc((6*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(135) {
	animation-delay: calc((6*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(136) {
	animation-delay: calc((6*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(137) {
	animation-delay: calc((6*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(138) {
	animation-delay: calc((6*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(139) {
	animation-delay: calc((6*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(140) {
	animation-delay: calc((6*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(141) {
	animation-delay: calc((7*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(142) {
	animation-delay: calc((7*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(143) {
	animation-delay: calc((7*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(144) {
	animation-delay: calc((7*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(145) {
	animation-delay: calc((7*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(146) {
	animation-delay: calc((7*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(147) {
	animation-delay: calc((7*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(148) {
	animation-delay: calc((7*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(149) {
	animation-delay: calc((7*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(150) {
	animation-delay: calc((7*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(151) {
	animation-delay: calc((7*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(152) {
	animation-delay: calc((7*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(153) {
	animation-delay: calc((7*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(154) {
	animation-delay: calc((7*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(155) {
	animation-delay: calc((7*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(156) {
	animation-delay: calc((7*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(157) {
	animation-delay: calc((7*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(158) {
	animation-delay: calc((7*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(159) {
	animation-delay: calc((7*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(160) {
	animation-delay: calc((7*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(161) {
	animation-delay: calc((8*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(162) {
	animation-delay: calc((8*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(163) {
	animation-delay: calc((8*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(164) {
	animation-delay: calc((8*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(165) {
	animation-delay: calc((8*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(166) {
	animation-delay: calc((8*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(167) {
	animation-delay: calc((8*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(168) {
	animation-delay: calc((8*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(169) {
	animation-delay: calc((8*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(170) {
	animation-delay: calc((8*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(171) {
	animation-delay: calc((8*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(172) {
	animation-delay: calc((8*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(173) {
	animation-delay: calc((8*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(174) {
	animation-delay: calc((8*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(175) {
	animation-delay: calc((8*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(176) {
	animation-delay: calc((8*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(177) {
	animation-delay: calc((8*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(178) {
	animation-delay: calc((8*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(179) {
	animation-delay: calc((8*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(180) {
	animation-delay: calc((8*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(181) {
	animation-delay: calc((9*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(182) {
	animation-delay: calc((9*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(183) {
	animation-delay: calc((9*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(184) {
	animation-delay: calc((9*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(185) {
	animation-delay: calc((9*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(186) {
	animation-delay: calc((9*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(187) {
	animation-delay: calc((9*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(188) {
	animation-delay: calc((9*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(189) {
	animation-delay: calc((9*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(190) {
	animation-delay: calc((9*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(191) {
	animation-delay: calc((9*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(192) {
	animation-delay: calc((9*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(193) {
	animation-delay: calc((9*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(194) {
	animation-delay: calc((9*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(195) {
	animation-delay: calc((9*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(196) {
	animation-delay: calc((9*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(197) {
	animation-delay: calc((9*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(198) {
	animation-delay: calc((9*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(199) {
	animation-delay: calc((9*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(200) {
	animation-delay: calc((9*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(201) {
	animation-delay: calc((10*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(202) {
	animation-delay: calc((10*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(203) {
	animation-delay: calc((10*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(204) {
	animation-delay: calc((10*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(205) {
	animation-delay: calc((10*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(206) {
	animation-delay: calc((10*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(207) {
	animation-delay: calc((10*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(208) {
	animation-delay: calc((10*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(209) {
	animation-delay: calc((10*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(210) {
	animation-delay: calc((10*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(211) {
	animation-delay: calc((10*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(212) {
	animation-delay: calc((10*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(213) {
	animation-delay: calc((10*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(214) {
	animation-delay: calc((10*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(215) {
	animation-delay: calc((10*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(216) {
	animation-delay: calc((10*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(217) {
	animation-delay: calc((10*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(218) {
	animation-delay: calc((10*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(219) {
	animation-delay: calc((10*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(220) {
	animation-delay: calc((10*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(221) {
	animation-delay: calc((11*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(222) {
	animation-delay: calc((11*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(223) {
	animation-delay: calc((11*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(224) {
	animation-delay: calc((11*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(225) {
	animation-delay: calc((11*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(226) {
	animation-delay: calc((11*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(227) {
	animation-delay: calc((11*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(228) {
	animation-delay: calc((11*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(229) {
	animation-delay: calc((11*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(230) {
	animation-delay: calc((11*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(231) {
	animation-delay: calc((11*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(232) {
	animation-delay: calc((11*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(233) {
	animation-delay: calc((11*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(234) {
	animation-delay: calc((11*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(235) {
	animation-delay: calc((11*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(236) {
	animation-delay: calc((11*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(237) {
	animation-delay: calc((11*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(238) {
	animation-delay: calc((11*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(239) {
	animation-delay: calc((11*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(240) {
	animation-delay: calc((11*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(241) {
	animation-delay: calc((12*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(242) {
	animation-delay: calc((12*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(243) {
	animation-delay: calc((12*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(244) {
	animation-delay: calc((12*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(245) {
	animation-delay: calc((12*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(246) {
	animation-delay: calc((12*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(247) {
	animation-delay: calc((12*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(248) {
	animation-delay: calc((12*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(249) {
	animation-delay: calc((12*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(250) {
	animation-delay: calc((12*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(251) {
	animation-delay: calc((12*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(252) {
	animation-delay: calc((12*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(253) {
	animation-delay: calc((12*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(254) {
	animation-delay: calc((12*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(255) {
	animation-delay: calc((12*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(256) {
	animation-delay: calc((12*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(257) {
	animation-delay: calc((12*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(258) {
	animation-delay: calc((12*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(259) {
	animation-delay: calc((12*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(260) {
	animation-delay: calc((12*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(261) {
	animation-delay: calc((13*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(262) {
	animation-delay: calc((13*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(263) {
	animation-delay: calc((13*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(264) {
	animation-delay: calc((13*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(265) {
	animation-delay: calc((13*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(266) {
	animation-delay: calc((13*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(267) {
	animation-delay: calc((13*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(268) {
	animation-delay: calc((13*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(269) {
	animation-delay: calc((13*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(270) {
	animation-delay: calc((13*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(271) {
	animation-delay: calc((13*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(272) {
	animation-delay: calc((13*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(273) {
	animation-delay: calc((13*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(274) {
	animation-delay: calc((13*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(275) {
	animation-delay: calc((13*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(276) {
	animation-delay: calc((13*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(277) {
	animation-delay: calc((13*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(278) {
	animation-delay: calc((13*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(279) {
	animation-delay: calc((13*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(280) {
	animation-delay: calc((13*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(281) {
	animation-delay: calc((14*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(282) {
	animation-delay: calc((14*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(283) {
	animation-delay: calc((14*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(284) {
	animation-delay: calc((14*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(285) {
	animation-delay: calc((14*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(286) {
	animation-delay: calc((14*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(287) {
	animation-delay: calc((14*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(288) {
	animation-delay: calc((14*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(289) {
	animation-delay: calc((14*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(290) {
	animation-delay: calc((14*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(291) {
	animation-delay: calc((14*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(292) {
	animation-delay: calc((14*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(293) {
	animation-delay: calc((14*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(294) {
	animation-delay: calc((14*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(295) {
	animation-delay: calc((14*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(296) {
	animation-delay: calc((14*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(297) {
	animation-delay: calc((14*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(298) {
	animation-delay: calc((14*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(299) {
	animation-delay: calc((14*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(300) {
	animation-delay: calc((14*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(301) {
	animation-delay: calc((15*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(302) {
	animation-delay: calc((15*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(303) {
	animation-delay: calc((15*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(304) {
	animation-delay: calc((15*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(305) {
	animation-delay: calc((15*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(306) {
	animation-delay: calc((15*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(307) {
	animation-delay: calc((15*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(308) {
	animation-delay: calc((15*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(309) {
	animation-delay: calc((15*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(310) {
	animation-delay: calc((15*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(311) {
	animation-delay: calc((15*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(312) {
	animation-delay: calc((15*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(313) {
	animation-delay: calc((15*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(314) {
	animation-delay: calc((15*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(315) {
	animation-delay: calc((15*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(316) {
	animation-delay: calc((15*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(317) {
	animation-delay: calc((15*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(318) {
	animation-delay: calc((15*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(319) {
	animation-delay: calc((15*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(320) {
	animation-delay: calc((15*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(321) {
	animation-delay: calc((16*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(322) {
	animation-delay: calc((16*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(323) {
	animation-delay: calc((16*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(324) {
	animation-delay: calc((16*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(325) {
	animation-delay: calc((16*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(326) {
	animation-delay: calc((16*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(327) {
	animation-delay: calc((16*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(328) {
	animation-delay: calc((16*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(329) {
	animation-delay: calc((16*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(330) {
	animation-delay: calc((16*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(331) {
	animation-delay: calc((16*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(332) {
	animation-delay: calc((16*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(333) {
	animation-delay: calc((16*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(334) {
	animation-delay: calc((16*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(335) {
	animation-delay: calc((16*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(336) {
	animation-delay: calc((16*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(337) {
	animation-delay: calc((16*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(338) {
	animation-delay: calc((16*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(339) {
	animation-delay: calc((16*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(340) {
	animation-delay: calc((16*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(341) {
	animation-delay: calc((17*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(342) {
	animation-delay: calc((17*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(343) {
	animation-delay: calc((17*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(344) {
	animation-delay: calc((17*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(345) {
	animation-delay: calc((17*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(346) {
	animation-delay: calc((17*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(347) {
	animation-delay: calc((17*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(348) {
	animation-delay: calc((17*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(349) {
	animation-delay: calc((17*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(350) {
	animation-delay: calc((17*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(351) {
	animation-delay: calc((17*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(352) {
	animation-delay: calc((17*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(353) {
	animation-delay: calc((17*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(354) {
	animation-delay: calc((17*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(355) {
	animation-delay: calc((17*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(356) {
	animation-delay: calc((17*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(357) {
	animation-delay: calc((17*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(358) {
	animation-delay: calc((17*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(359) {
	animation-delay: calc((17*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(360) {
	animation-delay: calc((17*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(361) {
	animation-delay: calc((18*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(362) {
	animation-delay: calc((18*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(363) {
	animation-delay: calc((18*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(364) {
	animation-delay: calc((18*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(365) {
	animation-delay: calc((18*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(366) {
	animation-delay: calc((18*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(367) {
	animation-delay: calc((18*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(368) {
	animation-delay: calc((18*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(369) {
	animation-delay: calc((18*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(370) {
	animation-delay: calc((18*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(371) {
	animation-delay: calc((18*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(372) {
	animation-delay: calc((18*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(373) {
	animation-delay: calc((18*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(374) {
	animation-delay: calc((18*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(375) {
	animation-delay: calc((18*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(376) {
	animation-delay: calc((18*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(377) {
	animation-delay: calc((18*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(378) {
	animation-delay: calc((18*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(379) {
	animation-delay: calc((18*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(380) {
	animation-delay: calc((18*-100ms) + (-50ms*20));
  }
  
  .particle:nth-child(381) {
	animation-delay: calc((19*-100ms) + (-50ms*1));
  }
  
  .particle:nth-child(382) {
	animation-delay: calc((19*-100ms) + (-50ms*2));
  }
  
  .particle:nth-child(383) {
	animation-delay: calc((19*-100ms) + (-50ms*3));
  }
  
  .particle:nth-child(384) {
	animation-delay: calc((19*-100ms) + (-50ms*4));
  }
  
  .particle:nth-child(385) {
	animation-delay: calc((19*-100ms) + (-50ms*5));
  }
  
  .particle:nth-child(386) {
	animation-delay: calc((19*-100ms) + (-50ms*6));
  }
  
  .particle:nth-child(387) {
	animation-delay: calc((19*-100ms) + (-50ms*7));
  }
  
  .particle:nth-child(388) {
	animation-delay: calc((19*-100ms) + (-50ms*8));
  }
  
  .particle:nth-child(389) {
	animation-delay: calc((19*-100ms) + (-50ms*9));
  }
  
  .particle:nth-child(390) {
	animation-delay: calc((19*-100ms) + (-50ms*10));
  }
  
  .particle:nth-child(391) {
	animation-delay: calc((19*-100ms) + (-50ms*11));
  }
  
  .particle:nth-child(392) {
	animation-delay: calc((19*-100ms) + (-50ms*12));
  }
  
  .particle:nth-child(393) {
	animation-delay: calc((19*-100ms) + (-50ms*13));
  }
  
  .particle:nth-child(394) {
	animation-delay: calc((19*-100ms) + (-50ms*14));
  }
  
  .particle:nth-child(395) {
	animation-delay: calc((19*-100ms) + (-50ms*15));
  }
  
  .particle:nth-child(396) {
	animation-delay: calc((19*-100ms) + (-50ms*16));
  }
  
  .particle:nth-child(397) {
	animation-delay: calc((19*-100ms) + (-50ms*17));
  }
  
  .particle:nth-child(398) {
	animation-delay: calc((19*-100ms) + (-50ms*18));
  }
  
  .particle:nth-child(399) {
	animation-delay: calc((19*-100ms) + (-50ms*19));
  }
  
  .particle:nth-child(400) {
	animation-delay: calc((19*-100ms) + (-50ms*20));
  }
  