body{
	overflow: hidden;
}

.margin div{
	position: fixed;
	width: 2px;
	height: 100vh;
	
	top: 50%;
	transform: translate(-50%, -50%);
	background: #000;
}
@media screen and (orientation: landscape){
	.margin div:nth-child(1){
		left: calc(50vmax - 50vmin);
	}
	.margin div:nth-child(2){
		left: calc(50vmax + 50vmin);
	}
	
}


@media screen and (orientation: portrait){
	
	.margin div{
		position: fixed;
		width: 100vw;
		height: 2px;
		
		left: 50%;
		transform: translate(-50%, -50%);
		background: #000;
	}

	.margin div:nth-child(1){
		top: calc(50vmax - 50vmin);
	}
	.margin div:nth-child(2){
		top: calc(50vmax + 50vmin);
	}
}

.loader{
  width: 50vmin;
  height: 50vmin;
  
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.cube{
  width: 75%;
  height: 75%;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
  
  background: #00bcd4;
  
  
  
  animation: shrink 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@keyframes shrink{
  0%{
    
    transform: translate(-50%, -150%) rotate(45deg) scale(0);
    background: #e91e63;
    z-index: 101;
  }
  50%{
    
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    background: #00bcd4;
  }
  100%{
    transform: translate(-50%, 50%) rotate(45deg) scale(0);
    background: #e91e63;
    z-index: 110;
  }
}

.loader > .cube:nth-child(2){
  animation-delay: -500ms;
}
.loader > .cube:nth-child(3){
  animation-delay: -1s;
}
.loader > .cube:nth-child(4){
  animation-delay: -1500ms;
}
.loader > .cube:nth-child(5){
  animation-delay: -2s;
}
.loader > .cube:nth-child(6){
  animation-delay: -2500ms;
}
.loader > .cube:nth-child(7){
  animation-delay: -3s;
}
.loader > .cube:nth-child(8){
  animation-delay: -3500ms;
}
.loader > .cube:nth-child(9){
  animation-delay: -4s;
}
.loader > .cube:nth-child(10){
  animation-delay: -4500ms;
}