body{
	overflow: hidden;
}

.margin div{
	position: fixed;
	width: 2px;
	height: 100vh;
	
	top: 50%;
	transform: translate(-50%, -50%);
	background: #000;
}
@media screen and (orientation: landscape){
	.margin div:nth-child(1){
		left: calc(50vmax - 50vmin);
	}
	.margin div:nth-child(2){
		left: calc(50vmax + 50vmin);
	}
	
}


@media screen and (orientation: portrait){
	
	.margin div{
		position: fixed;
		width: 100vw;
		height: 2px;
		
		left: 50%;
		transform: translate(-50%, -50%);
		background: #000;
	}

	.margin div:nth-child(1){
		top: calc(50vmax - 50vmin);
	}
	.margin div:nth-child(2){
		top: calc(50vmax + 50vmin);
	}
}
.logo{
  width: 50vmax;
  height: 50vmax;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  overflow: hidden;
}

.ripple{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 80%;
  height: 80%;
  background: #3f51b5;
  border-radius: 37.5%;
  
  opacity: 0.5;
  
  animation: rotate-ripple 10s infinite;
}

.ripple::after{
	content: '';
	background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
}

.logo .ripple:nth-child(2){animation-delay: -2s;}
.logo .ripple:nth-child(3){animation-delay: -4s;}
.logo .ripple:nth-child(4){animation-delay: -6s;}
.logo .ripple:nth-child(5){animation-delay: -8s;}


.sides{
  border-style: solid;
  border-width: 5px;
  
  width: 50%;
  height: 10.71%;
  
  background: #fff;
  border-radius: 9999px;
  position: absolute;
  transform: translate(-50%, -50%);
}


.logo .sides:nth-child(6){
  top: 38.57%;
  left: 50%;
}

.logo .sides:nth-child(7){
  transform: translate(-50%, -50%) rotate(60deg);
  top: 55.71%;
  left: 40%;
}


.logo .sides:nth-child(8){
  transform: translate(-50%, -50%) rotate(-60deg);
  top: 55.71%;
  left: 60%;
}

@keyframes rotate-ripple{
  0%{transform: translate(-50% , -50%) rotate(0deg);}
  50%{transform: translate(-50% , -50%) rotate(180deg);}
  100%{transform: translate(-50% , -50%) rotate(360deg);}
}