/*
 *
 *	Material Design Red
 *
 */
.md.red, .md.red.500{background: #F44336;}
.md.red.50{background: #FFEBEE;}
.md.red.100{background: #FFCDD2;}
.md.red.200{background: #EF9A9A;}
.md.red.300{background: #E57373;}
.md.red.400{background: #EF5350;}
.md.red.600{background: #E53935;}
.md.red.700{background: #D32F2F;}
.md.red.800{background: #C62828;}
.md.red.900{background: #B71C1C;}
.md.red.A100{background: #FF8A80;}
.md.red.A200{background: #FF5252;}
.md.red.A400{background: #FF1744;}
.md.red.A700{background: #D50000;}
/*
 *
 *	Material Design Pink
 *
 */
.md.pink, .md.pink.500{background: #E91E63;}
.md.pink.50{background: #FCE4EC;}
.md.pink.100{background: #F8BBD0;}
.md.pink.200{background: #F48FB1;}
.md.pink.300{background: #F06292;}
.md.pink.400{background: #EC407A;}
.md.pink.600{background: #D81B60;}
.md.pink.700{background: #C2185B;}
.md.pink.800{background: #AD1457;}
.md.pink.900{background: #880E4F;}
.md.pink.A100{background: #FF80AB;}
.md.pink.A200{background: #FF4081;}
.md.pink.A400{background: #F50057;}
.md.pink.A700{background: #C51162;}
/*
 *
 *	Material Design Purple
 *
 */
.md.purple, .md.purple.500{background: #9C27B0;}
.md.purple.50{background: #F3E5F5;}
.md.purple.100{background: #E1BEE7;}
.md.purple.200{background: #CE93D8;}
.md.purple.300{background: #BA68C8;}
.md.purple.400{background: #AB47BC;}
.md.purple.600{background: #8E24AA;}
.md.purple.700{background: #7B1FA2;}
.md.purple.800{background: #6A1B9A;}
.md.purple.900{background: #4A148C;}
.md.purple.A100{background: #EA80FC;}
.md.purple.A200{background: #E040FB;}
.md.purple.A400{background: #D500F9;}
.md.purple.A700{background: #AA00FF;}
/*
 *
 *	Material Design Deep Purple
 *
 */
.md.deep-purple, .md.deep-purple.500{background: #673AB7;}
.md.deep-purple.50{background: #EDE7F6;}
.md.deep-purple.100{background: #D1C4E9;}
.md.deep-purple.200{background: #B39DDB;}
.md.deep-purple.300{background: #9575CD;}
.md.deep-purple.400{background: #7E57C2;}
.md.deep-purple.600{background: #5E35B1;}
.md.deep-purple.700{background: #512DA8;}
.md.deep-purple.800{background: #4527A0;}
.md.deep-purple.900{background: #311B92;}
.md.deep-purple.A100{background: #B388FF;}
.md.deep-purple.A200{background: #7C4DFF;}
.md.deep-purple.A400{background: #651FFF;}
.md.deep-purple.A700{background: #6200EA;}
/*
 *
 *	Material Design Deep Indigo 
 *
 */
.md.indigo, .md.indigo.500{background: #3F51B5;}
.md.indigo.50{background: #E8EAF6;}
.md.indigo.100{background: #C5CAE9;}
.md.indigo.200{background: #9FA8DA;}
.md.indigo.300{background: #7986CB;}
.md.indigo.400{background: #5C6BC0;}
.md.indigo.600{background: #3949AB;}
.md.indigo.700{background: #303F9F;}
.md.indigo.800{background: #283593;}
.md.indigo.900{background: #1A237E;}
.md.indigo.A100{background: #8C9EFF;}
.md.indigo.A200{background: #536DFE;}
.md.indigo.A400{background: #3D5AFE;}
.md.indigo.A700{background: #304FFE;}/*
 *
 *	Material Design Blue  
 *
 */
.md.blue, .md.blue.500{background: #2196F3;}
.md.blue.50{background: #E3F2FD;}
.md.blue.100{background: #BBDEFB;}
.md.blue.200{background: #90CAF9;}
.md.blue.300{background: #64B5F6;}
.md.blue.400{background: #42A5F5;}
.md.blue.600{background: #1E88E5;}
.md.blue.700{background: #1976D2;}
.md.blue.800{background: #1565C0;}
.md.blue.900{background: #0D47A1;}
.md.blue.A100{background: #82B1FF;}
.md.blue.A200{background: #448AFF;}
.md.blue.A400{background: #2979FF;}
.md.blue.A700{background: #2962FF;}