body {
  overflow: hidden;
  background: #000;
}

.margin div {
  position: fixed;
  width: 2px;
  height: 100vh;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

@media screen and (orientation: landscape) {
  .margin div:nth-child(1) {
    left: calc(50vmax - 50vmin);
  }

  .margin div:nth-child(2) {
    left: calc(50vmax + 50vmin);
  }
}
@media screen and (orientation: portrait) {
  .margin div {
    position: fixed;
    width: 100vw;
    height: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
  }

  .margin div:nth-child(1) {
    top: calc(50vmax - 50vmin);
  }

  .margin div:nth-child(2) {
    top: calc(50vmax + 50vmin);
  }
}
.loader {
  width: 50vmin;
  height: 50vmin;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.gyro {
  box-shadow: 0px 0px 0px 10px #e91e63 inset;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: calc(100% - calc(25px*1));
  height: calc(100% - calc(25px*1));
  animation: rotator 12s linear infinite;
  animation-delay: 2000ms;
}

@keyframes rotator {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) rotateX(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) rotateX(360deg);
  }
}
.gyro .gyro{
  animation-delay: 1800ms;
}

.gyro .gyro .gyro{
  animation-delay: 1600ms;
}

.gyro .gyro .gyro .gyro{
  animation-delay: 1400ms;
}
.gyro .gyro .gyro .gyro .gyro{
  animation-delay: 1200ms;
}

.gyro .gyro .gyro .gyro .gyro .gyro{
  animation-delay: 1000ms;
}
.gyro .gyro .gyro .gyro .gyro .gyro .gyro{
  animation-delay: 800ms;
}
.gyro .gyro .gyro .gyro .gyro .gyro .gyro .gyro{
  animation-delay: 600ms;
}
.gyro .gyro .gyro .gyro .gyro .gyro .gyro .gyro .gyro{
  animation-delay: 400ms;
}

.gyro .gyro .gyro .gyro .gyro .gyro .gyro .gyro .gyro .gyro{
  animation-delay: 200ms;
}
